# Ignore these folders
minecraft/.fabric/*
minecraft/backups/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/data/*
minecraft/ESM/*
minecraft/fancymenu_data/*
minecraft/kubejs/config/*
minecraft/kubejs/exported/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/schematics/*
minecraft/screenshots/*
minecraft/Xaero*/*

# Ignore these files
*.gz
CCA Fabric.code-workspace
instance.cfg
minecraft/*.log
minecraft/Link to resourcepacks
minecraft/Link to saves
minecraft/Link to XaeroWaypoints
minecraft/Link to XaeroWorldMap
minecraft/options.*
minecraft/servers.dat
minecraft/servers.dat_old
# keeps coming back to haunt
minecraft/config/ftbquests/quests/chapters/silentgear.snbt
minecraft/irisUpdateInfo.json
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/rhino.local.properties
minecraft/usercache.json
mmc-pack.json

# Stop ignoring these folders
!minecraft/config/bhmenu
!minecraft/config/drippyloadingscreen
!minecraft/config/fancymenu
!minecraft/config/fabric_loader_dependencies.json
!minecraft/config/ftbquests
!minecraft/config/NoChatReports
!minecraft/config/yosbr

# Stop ignoring these files
!minecraft/config/bcc.json
docs/recipes.txt

# Temporary to ignore
minecraft/kubejs/data/spirit/recipes/soul_transmutation/spirit/villager.json
minecraft/Link to shaderpacks
