# Ignore these folders
minecraft/.fabric/*
minecraft/backups/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/data/*
minecraft/ESM/*
minecraft/fancymenu_data/*
minecraft/kubejs/config/*
minecraft/kubejs/exported/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/Xaero*/*

# Ignore these files
*.gz
CCA Fabric.code-workspace
instance.cfg
minecraft/irisUpdateInfo.json
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/rhino.local.properties
minecraft/usercache.json
mmc-pack.json

# Stop ignoring these folders
!minecraft/config/bhmenu
!minecraft/config/drippyloadingscreen
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!minecraft/config/NoChatReports
!minecraft/config/yosbr

# Stop ignoring these files
!minecraft/config/bcc.json
docs/recipes.txt
